.product {
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;

    height: 360px;
    width: 270px;

    display: inline-block;
    margin: 0 10px 10px 0;

    vertical-align: top;

}

.product img {
    width: 250px;

}

.product h3 {
    margin: 0;
}