.product {
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;

    height: 360px;
    width: 270px;

    display: inline-block;
    margin: 0 10px 10px 0;

    vertical-align: top;

}

.product:hover{
    border-color: tomato;
    border-width: 2px;
    box-shadow: 2px 2px 10px 1px gray;
    transform: scale(1.03);
}

.product img {
    width: 250px;

}

.product img:hover{
    transform:  skewX(-2deg);
}

.product h3 {
    margin: 0;
}